absl-py==0.8.1
astor==0.8.0
attrs==19.3.0
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.4.0
Flask==1.1.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.24.3
h5py==2.10.0
idna==2.8
importlib-metadata==0.23
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
more-itertools==7.2.0
nltk==3.4.5
numpy==1.17.3
openapi-spec-validator==0.2.8
opt-einsum==3.1.0
Pillow==9.0.1
protobuf==3.10.0
pyrsistent==0.15.4
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tflearn==0.3.2
urllib3==1.25.6
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
