/* html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 1px;

    font-family: 'Roboto', sans-serif;
  } */

  body {
    background: linear-gradient(to right, transparent, rgb(255, 224, 88)),
    linear-gradient(to top, transparent, #008cf0),
    url("Background.jpg");
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 1px;
        padding: 1px;
      font-family: 'Roboto', sans-serif;
  }

  a {
    color: rgb(0, 112, 216)
  }

  .bear {
      align-self: center;
  }
  
  .oski {
    text-align: left;
    color: white;
    font-size: 125%;
  }

  .bartext {
    float: right;
  }
  
  .titlebar {
    /* background: linear-gradient(to right, transparent, #008cf0);
    color: #008cf0; */
    border: none;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }

  hr { 
    border: none;
}



    #container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
    input {
        background-color: #eee;
        border: none;
        font-family: sans-serif;
        color: #000;
        padding: 10px 500px;
        text-align: center;
        /* text-decoration: none; */
        /* display: inline-block; */
        font-size: 30px;
    }





  
  